server {
    server_name  "localhost2"
    location "/" {
        root   "html"
        index  "index.html" "index.htm"
    }
    location "/" {
        root   "html"
        index  "index.html" "index.htm"
    }
}